<!DOCTYPE html>
<html lang="en">

<% include header %>

<body>
    <div id="wrapper">

	<% include sidebar %>
	
        <!-- Page Content -->
        <div id="page-content-wrapper">
        	<% include menubutton %>
			<div class="container-fluid">
    			<div class="row">
				        <div class="col-lg-12">
				            <h1>About</h1>
				        </div>
				    </div>
				</div>
			
			<hr/>
			
			<% include footer %>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>